@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 174 50% 91%;
    --foreground: 224 71% 4%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 174 45% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 174 30% 85%;
    --secondary-foreground: 224 71% 4%;
    --muted: 174 30% 85%;
    --muted-foreground: 224 20% 30%;
    --accent: 16 100% 63%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 174 25% 80%;
    --input: 174 25% 85%;
    --ring: 174 45% 53%;
    --chart-1: 174 70% 41%;
    --chart-2: 16 100% 63%;
    --chart-3: 198 93% 60%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 220 13% 10%;
    --foreground: 210 20% 98%;
    --card: 220 13% 15%;
    --card-foreground: 210 20% 98%;
    --popover: 220 13% 15%;
    --popover-foreground: 210 20% 98%;
    --primary: 174 45% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 13% 25%;
    --secondary-foreground: 210 20% 98%;
    --muted: 220 13% 25%;
    --muted-foreground: 210 20% 65%;
    --accent: 16 100% 63%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 25%;
    --input: 210 20% 25%;
    --ring: 174 45% 53%;
    --chart-1: 174 70% 41%;
    --chart-2: 16 100% 63%;
    --chart-3: 198 93% 60%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
